.my-button:enabled:hover button,
.my-button button {
  background-color: rgb(155, 11, 11) !important;
  border: none;
}

.my-button-2:enabled:hover button,
.my-button-2 button {
  background-color: rgb(19, 163, 38) !important;
  border: none;
}
